@charset = "utf-8";
.abc{
/*	border:10px solid red;*/
	font-size: 45px;
	width: 100px;
	height: 200px;
/*	padding: 1px;*/
	top:200px;
	left: 200px;
	position: absolute;

}
.cde{
	border:20px solid red;
}
.aaa{
	background-color: blue;
}
.aa{
		font-size: 20px;
}
