<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProtocolUIControlName" value="Myc.ProtocolUI.MCUTestTarget"/>
    <add key="ProtocolUIControlFilePath" value="E:\Project\C#\WinApp\learn_com\learn_com\learn_com\bin\Release\Myc.ProtocolUI.MCUTestTarget.dll"/>
    <add key="DataSendFileName" value="SerialAssist.xml"/>
  </appSettings>
</configuration>